<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/FragmentoHead :: header_comun(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>Nuevo Curso</title>
    <link rel="stylesheet" href="../css/css.css" th:href="@{/css/css.css}">
</head>
<body>
<nav th:replace="~{fragmentos/fragmentosNav::nav}"></nav>

<main id="FormularioPrimeraVez">
    <br><br><br>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form method="POST" action="#" th:action="@{/submit/nuevo/curso}" th:object="${nuevoCurso}">
                <div class="form-group">
                    <label for="titulo">Nombre:</label>
                    <input type="text" id="titulo" name="titulo" placeholder="Nombre" required autofocus class="form-control" th:field="*{nombre}">
                    <input type="text" id="idTitulo" name="id" placeholder="Nombre" required hidden class="form-control" th:field="*{titulos}">
                </div>
                <input type="submit" name="enviar" value="Enviar" class="btn btn-info mx-auto d-block align-items-center"/>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</main>
<span th:text="${idTitulo}" hidden id="spanId"></span>
<footer th:replace="~{fragmentos/fragmentoFooter::footer}"></footer>
<script>
    window.onload = insertar();
function insertar() {
var id = $("#spanId").text();

$("#idTitulo").val(id);
}
</script>
</body>
</html>