<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/FragmentoHead :: header_comun(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>Nuevo título</title>
    <link rel="stylesheet" href="../css/css.css" th:href="@{/css/css.css}">
</head>
<body>
<nav th:replace="~{fragmentos/fragmentosNav::nav}"></nav>

<main id="registroJefeCampos">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 cuadroFormulario">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <br>
                        <form method="POST" action="#" th:action="@{/submit/nuevo/titulo}" th:object="${nuevoTitulo}">
                            <input type="text" hidden th:field="*{id}">
                            <br>
                            <div class="form-group">
                                <label for="Nombre">Nombre:</label>
                                <input type="text" id="Nombre" name="Nombre" placeholder="Nombre..." required autofocus class="form-control" th:field="*{nombre}">
                            </div>
                            <br>
                            <input type="submit" name="enviar" value="Enviar" class="btn btn-info mx-auto d-block align-items-center mb-4"/>
                        </form>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</main>
<footer th:replace="~{fragmentos/fragmentoFooter::footer}"></footer>
<script>
</script>
</body>
</html>