<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/FragmentoHead :: header_comun(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>Gestión alumnos de un Curso</title>
    <link rel="stylesheet" href="../css/css.css" th:href="@{/css/css.css}">
</head>
<body>
<nav th:replace="~{fragmentos/fragmentosNav::nav}"></nav>
<main>
    <div class="container">
        <div class="row">

            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                        <th></th>
                        <div th:each="asignaturas :${listadoAlumnos}">
                                <div th:each="alumAsig :${asignaturas.key}">
                                    <th th:text="${alumAsig.key.nombreAsignatura}"></th>
                                </div>
                        </div>
                        </tr>
                    </thead>
                    <tbody>
                        <div th:each="asignaturas :${listadoAlumnos}">

                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragmentos/fragmentoFooter::footer}"></footer>
</body>
</html>