<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/FragmentoHead :: header_comun(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>Gestión alumnos de un Curso</title>
    <link rel="stylesheet" href="../css/css.css" th:href="@{/css/css.css}">
</head>
<body>
<nav th:replace="~{fragmentos/fragmentosNav::nav}"></nav>
<main class="container">
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                        <div th:each="asignaturas :${listaAsignatura}">
                                <th th:text="${asignaturas.nombreAsignatura}" class="textoCentradp"></th>
                        </div>
                            <th>Generar Carnet</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div th:each="alumnos :${listadoAlumnos}">
                            <tr>
                            <td><a th:href="@{/gestion/alumno/asignaturas/{id} (id=${alumnos.key.id})}"><span th:text="${alumnos.key.nombre}+ ' '"></span><span th:text="${alumnos.key.apellidos}"></span></a></td>
                                <th:block th:each=" valores :${alumnos.value}">
                                    <td th:text="${valores}" class="textoCentradp"></td>
                                </th:block>
                                <td><a th:href="@{/createPdf/alumnos/{idAlum}(idAlum=${alumnos.key.id})}">Generar</a></td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
</main>

</body>
</html>