<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer th:fragment="footer" class="footerColor fixed-bottom">
            <div class="container">
                <div class="row text-center d-flex justify-content-center pt-2 mb-1">


                    <div class="col-md-2 mb-3">
                        <h6 class="text-uppercase font-weight-bold">
                            <img alt="Logo de la página"
                                 src="log.png" th:src="@{/img/salesianosTriana.jpg}" width="190px" height="60px"></a>
                        </h6>
                    </div>

                </div>

                <hr class="rgba-white-light" style="margin: 0 15%;">


                <div
                        class="row d-flex text-center justify-content-center mb-md-0 mb-4">

                </div>

                <hr class="clearfix d-md-none rgba-white-light"
                    style="margin: 10% 15% 5%;">


                <div class="row pb-3">


                    <div class="col-md-12">
                        <div class="mb-3 my-3 flex-center footercentro">

                            <!-- Facebook -->
                            <a class="mr-3"> <img src="../img/facebook.png" th:src="@{/img/facebook.png}"
                                                  alt="Imagen del logo de facebook">
                            </a>
                            <!-- Twitter -->
                            <a class="mr-3 ml-3"> <img
                                    src="../img/twitter.png" th:src="@{/img/twitter.png}" alt="Imagen del logo de Twitter">
                            </a>
                            <!--Linkedin -->

                            <!--Instagram-->
                            <a class="ml-3"> <img
                                    src="../img/instagram.png"  th:src="@{/img/instagram.png}" alt="Imagen del logo de Instagram">
                            </a>
                            <a class="mr-3 ml-3"> <img
                                    th:src="@{/img/salesianosTriana.jpg}" src="../../static/img/salesianosTriana.jpg" alt="Imagen del logo de salesianos" width="32px" height="32px">
                            </a>
                        </div>
                    </div>


                </div>

            </div>

    </div>
</footer>
</body>
</html>