<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/FragmentoHead :: header_comun(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>Edición Horario</title>
    <link rel="stylesheet" href="../css/css.css" th:href="@{/css/css.css}">
</head>
<body>
<nav th:replace="~{fragmentos/fragmentosNav::nav}"></nav>

<main id="horario">
    <br><br><br>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form method="POST" action="#" th:action="@{/submit/editar/horario/final}" th:object="${horaNuevo}">
                <div class="form-group">
                    <input type="text" id="idTitulo" required autocomplete="off"
                           th:field="*{id}" hidden="hidden">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Dia de la Semana</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01" th:field="*{dia}">
                            <option value="1" selected th:value="1">Lunes</option>
                            <option value="2" th:value="2">Martes</option>
                            <option value="3" th:value="3">Miercoles</option>
                            <option value="4" th:value="4">Jueves</option>
                            <option value="5" th:value="5">Viernes</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Tramo horario</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect0" th:field="*{tramo}">
                            <option value="LUN" selected th:value="1">08:00-09:00</option>
                            <option value="MAR" th:value="2">09:00-10:00</option>
                            <option value="MIE" th:value="3">10:00-11:00</option>
                            <option value="JUE" th:value="4">11:30-12:30</option>
                            <option value="VIE" th:value="5">12:30-13:30</option>
                            <option value="VIE" th:value="6">13:30-14:30</option>
                        </select>
                    </div>
                </div>
                <input type="submit" name="enviar" value="Enviar" class="btn btn-info mx-auto d-block align-items-center"/>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
    <span th:text="${horaAntiguo.id}" hidden id="spanId"></span>
    <span th:text="${horaAntiguo.dia}" hidden id="spandia"></span>
</main>

<footer th:replace="~{fragmentos/fragmentoFooter::footer}"></footer>
<script>
    window.onload = insertar();
		function insertar() {
		    var id = $("#spanId").text();
            var select=$("#spandia").text();
            var comienzo=$("#comienzo").text();
            var final=$("#final").text();
            $("#idTitulo").val(id);
            $("#inputGroupSelect01").val();
            $("#time").val(comienzo);
            $("#timeFinal").val(final);
		}
</script>
</body>
</html>