<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/FragmentoHead :: header_comun(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="../css/css.css" th:href="@{/css/css.css}">
</head>
<body>
<nav th:replace="~{fragmentos/fragmentosNav::nav}"></nav>
<main sec:authorize="hasRole('ROLE_ALUMNO')">
    <div class="container">
        <div class="col-2"></div>
        <div class="col-8">
            <table class="table mb-5" id="horario">
                <thead>
                <tr>
                    <th scope="col">Lunes</th>
                    <th scope="col">Martes</th>
                    <th scope="col">Miércoles</th>
                    <th scope="col">Jueves</th>
                    <th scope="col">Viernes</th>
                </tr>
                </thead>
                <tbody th:each="horario : ${horarios}">
                <tr>
                    <th:bloch th:each="clase: ${horario}">
                        <td th:text="${clase.asignatura.nombreAsignatura}"></td>
                    </th:bloch>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-2"></div>
    </div>
</main>
<footer th:replace="~{fragmentos/fragmentoFooter::footer}"></footer>
</body>
</html>