<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/FragmentoHead :: header_comun(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="../css/css.css" th:href="@{/css/css.css}">
</head>
<body>
<nav th:replace="~{fragmentos/fragmentosNav::nav}"></nav>
<main sec:authorize="hasRole('ROLE_ALUMNO')">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <table class="table mb-5" id="horario">
                    <thead>
                    <tr>
                        <th></th>
                        <th scope="col">Lunes</th>
                        <th scope="col">Martes</th>
                        <th scope="col">Miércoles</th>
                        <th scope="col">Jueves</th>
                        <th scope="col">Viernes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="horario : ${horarios}">
                        <td></td>
                        <th:block th:each="clase : ${horario}">
                            <th:block th:if="${clase.asignatura!=null}">
                                <td th:text="${clase.asignatura.nombreAsignatura}" class="textoCentradp"> X </td>
                            </th:block>
                            <th:block th:if="${clase.asignatura==null}">
                                <td class="textoCentradp"> X </td>
                            </th:block>
                        </th:block>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</main>
<script>

            $(document).ready(function() {
                $('table tbody').children("tr:nth-child(1)").children("td:nth-child(1)").html("8:00 - 9:00")
                $('table tbody').children("tr:nth-child(2)").children("td:nth-child(1)").html("9:00 - 10:00")
                $('table tbody').children("tr:nth-child(3)").children("td:nth-child(1)").html("10:00 - 11:00")
                $('table tbody').children("tr:nth-child(4)").children("td:nth-child(1)").html("11:30 - 12:30")
                $('table tbody').children("tr:nth-child(5)").children("td:nth-child(1)").html("12:30 - 13:30")
                $('table tbody').children("tr:nth-child(6)").children("td:nth-child(1)").html("13:30 - 14:30")
            });

        </script>
</body>
</html>