<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/FragmentoHead :: header_comun(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../css/css.css" th:href="@{/css/css.css}">
</head>
<body>
        <header th:replace="~{fragmentos/fragmentosNav::nav}"></header>

        <main id="login" class="container">
            <br><br><br><br>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <form method="POST" action="#" th:action="@{/login}">
                        <div class="form-group">
                            <label for="username">Email:</label>
                            <input type="text" id="username" name="username" placeholder="Username" required autofocus class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña:</label>
                            <input type="password" name="password" id="password" placeholder="Password" required class="form-control">
                        </div>
                        <input type="submit" name="enviar" value="Enviar" class="btn btn-info mx-auto d-block align-items-center"/>
                    </form>
                </div>
                <div class="col-4"></div>
            </div>
        </main>

    <footer th:replace="~{fragmentos/fragmentoFooter::footer}" >
    </footer>
<script>

    jQuery(window).load(function(){
//Cuando se carga todo el contenido.
jQuery("#main").css("min-height", (jQuery(window).height()-jQuery("footer").outerHeight()-jQuery("header").outerHeight()+"px"));
}).resize(function(){
//Cuando se escala la pantalla.
jQuery("#main").css("min-height", (jQuery(window).height()-jQuery("footer").outerHeight()-jQuery("header").outerHeight()+"px"));
});
jQuery(document).ready(function(){
//Cuando el DOM está disponible.
jQuery("#main").css("min-height", (jQuery(window).height()-jQuery("footer").outerHeight()-jQuery("header").outerHeight()+"px"));
})
</script>
</body>
</html>