<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/FragmentoHead :: header_comun(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>Código Confirmación</title>
    <link rel="stylesheet" href="../css/css.css" th:href="@{/css/css.css}">
</head>
<body>
                <nav th:replace="~{fragmentos/fragmentoNavBasico::nav-Sin}"></nav>

                <main id="FormularioPrimeraVez">
                    <br><br><br>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <form method="POST" action="#" th:action="@{/submit/codigo}" th:object="${codigo}">
                                <div class="form-group">
                                    <label for="Contrasenia">Contraseña:</label>
                                    <input type="password" id="Contrasenia" name="Contrasenia" placeholder="Contraseña..." required  class="form-control" th:field="*{contra}">
                                </div>
                                <input type="submit" name="enviar" value="Enviar" class="btn btn-info mx-auto d-block align-items-center"/>
                            </form>
                        </div>
                        <div class="col-4"></div>
                    </div>
                </main>

                <footer th:replace="~{fragmentos/fragmentoFooter::footer}"></footer>
</body>
</html>