<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/FragmentoHead :: header_comun(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>Aceptacion Solicitudes</title>
    <link rel="stylesheet" href="../css/css.css" th:href="@{/css/css.css}">
</head>
<body>
<nav th:replace="~{fragmentos/fragmentosNav::nav}"></nav>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <br><br>
                <table class="table">
                    <thead>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Tipo</th>
                        <th>Asignatura</th>
                        <th>Informacion</th>
                    </thead>
                    <tbody>
                    <th:block th:each="solicitudes :${convalidaciones}">
                        <td th:text="${solicitudes.alumno.nombre}"></td>
                        <td th:text="${solicitudes.alumno.apellidos}"></td>
                        <td th:text="${solicitudes.tipo} ? Excepción : Convalidación"></td>
                        <td th:text="' '+${solicitudes.asignatura.nombreAsignatura}"></td>
                        <td><a th:href="@{/descargar/{idAlumno}/info/{idAsignatura}(idAsignatura=${solicitudes.asignatura.id},idAlumno=${solicitudes.alumno.id})}"><img th:src="@{/img/flecha-right.png}"></a></td>
                    </th:block>
                    </tbody>
                </table>
                <br>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</main>

</body>
</html>