<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/FragmentoHead :: header_comun(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>Aceptacion Solicitudes</title>
    <link rel="stylesheet" href="../css/css.css" th:href="@{/css/css.css}">
</head>
<body>
<nav th:replace="~{fragmentos/fragmentosNav::nav}"></nav>
<main>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div>
                    <h5 class="h5">El alumno con nombre <span th:text="${solicitudes.alumno.nombre}"></span>
                    solicita la <span th:text="${solicitudes.tipo} ? excepción : convalidación"></span>
                        para la asignatura de <span th:text="' '+${solicitudes.asignatura.nombreAsignatura}"></span>
                        adjuntando la siguiente documentación:
                    </h5>
                </div>
                <div>
                    <a  th:href="@{${solicitudes.adjunto}}">
                        <h6 class="h6 noEnlace">Descargar información de la petición</h6>
                    </a>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <form method="post" th:object="${informacion}" th:action="@{/descargar/completado/final}">
                    <div class="form-group">
                        <label for="mensaje">Mensaje:</label>
                        <input type="text" id="mensaje" name="mensaje" placeholder="Mensaje..." required autofocus class="form-control" th:field="*{mensaje}">
                        <input type="text" id="idAlumno" name="idAlumno"  required hidden class="form-control" th:field="*{idUsuario}">
                        <input type="text" id="idAsig" name="idAsig"  required hidden class="form-control" th:field="*{idAsignatura}">
                    </div>
                    <div class="form-group row">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input name="radio" id="radio_0" type="radio" class="custom-control-input"
                                   value="false" th:field="*{aceptado}" checked th:value="false">
                            <label for="radio_0" class="custom-control-label" >Denegar</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input name="radio" id="radio_1" type="radio" class="custom-control-input" th:value="true" th:field="*{aceptado}" value="true">
                            <label for="radio_1" class="custom-control-label">Aceptar</label>
                        </div>
                    </div>
                    <input type="submit" name="enviar" value="Enviar" class="btn btn-info mx-auto d-block align-items-center"/>
                </form>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    <span th:text="${solicitudes.alumno.id}" hidden id="spanId"></span>
    <span th:text="${solicitudes.asignatura.id}" hidden id="spanNombre"></span>
</main>

<script>
     window.onload = insertar();
		function insertar() {
		    var tituloObn = $("#spanNombre").text();
		    var id = $("#spanId").text();

		    $("#idAlumno").val(id);
            $("#idAsig").val(tituloObn);
		}
</script>
</body>
</html>