<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/FragmentoHead :: header_comun(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>Aceptacion Solicitudes</title>
    <link rel="stylesheet" href="../css/css.css" th:href="@{/css/css.css}">
</head>
<body>
<nav th:replace="~{fragmentos/fragmentosNav::nav}"></nav>
<main>
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <a th:href="@{/descargar/{idAlumno}/solicitud/{idAsignatura}(idAsignatura=${solicitudes.asignatura.id},idAlumno=${solicitudes.alumno.id})}">Descargar</a>

               <embed th:src="@{${solicitudes.adjunto}}" width="600" height="500" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
                <div>
                    <iframe th:src="@{${solicitudes.adjunto}}" style="width:100%;height:700px;"></iframe>
                </div>
                <div>
                </div>
                <a download="informacion" th:href="@{${solicitudes.adjunto}}">Prueba4</a>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</main>
<footer th:replace="~{fragmentos/fragmentoFooter::footer}"></footer>
</body>
</html>