<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/FragmentoHead :: header_comun(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>Gestión cursos</title>
    <link rel="stylesheet" href="../css/css.css" th:href="@{/css/css.css}">
</head>
<body>
<nav th:replace="~{fragmentos/fragmentosNav::nav}"></nav>
<main id="infoCurso">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="/gestion"> <p class="noEnlace">Volver atras</p><img th:src="@{/img/return.png}"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Asignaturas</th>
                        <th>Editar</th>
                        <th>Borrar</th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr th:each="cursos :${Listacursos}">
                        <td th:text="${cursos.nombre}"></td>
                        <td th:href="@{/jefe/estudios/cursos/{id}(id=${cursos.id})}"><img th:src="@{/img/flecha-right.png}"></td>
                        <td><img th:src="@{/img/edit.png}"></td>
                        <td><a th:href="@{/jefe/estudios/curso/eliminar/{id}(id=${cursos.id})}"><img th:src="@{/img/borrar.png}"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</main>
<footer th:replace="~{fragmentos/fragmentoFooter::footer}"></footer>
</body>
</html>>