<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/FragmentoHead :: header_comun(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>Gestión Horarios</title>
    <link rel="stylesheet" href="../css/css.css" th:href="@{/css/css.css}">
</head>
<body>
<nav th:replace="~{fragmentos/fragmentosNav::nav}"></nav>
<main id="infoCurso">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-3">
                <a th:href="@{/jefe/estudios/asignatura/{id}(id=${IdAsignatura})}"> <p class="noEnlace">Volver atras</p><img th:src="@{/img/return.png}"></a>
            </div>
        </div>
        <div class="row">

            <div class="col-2"></div>
            <div class="col-8">
                <br>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Dias de la Semana</th>
                        <th>Hora comienzo</th>
                        <th>Hora finalización</th>
                        <th sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
                        <th sec:authorize="hasRole('ROLE_ADMIN')">Borrar</th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr th:each="horas :${ListaHoras}">
                        <td th:if="${horas.dia}==1" >Lunes</td>
                        <td th:if="${horas.dia}==2" >Martes</td>
                        <td th:if="${horas.dia}==3" >Miércoles</td>
                        <td th:if="${horas.dia}==4" >Jueves</td>
                        <td th:if="${horas.dia}==5" >Viernes</td>
                        <th:block th:if="${horas.tramo}==1">
                            <td>08:00</td>
                            <td>09:00</td>
                        </th:block>
                        <th:block th:if="${horas.tramo}==2">
                            <td>09:00</td>
                            <td>10:00</td>
                        </th:block>
                        <th:block th:if="${horas.tramo}==3">
                            <td>10:00</td>
                            <td>11:00</td>
                        </th:block>
                        <th:block th:if="${horas.tramo}==4">
                            <td>11:30</td>
                            <td>12:30</td>
                        </th:block>
                        <th:block th:if="${horas.tramo}==5">
                            <td>12:30</td>
                            <td>13:30</td>
                        </th:block>
                        <th:block th:if="${horas.tramo}==6">
                            <td>13:30</td>
                            <td>14:30</td>
                        </th:block>
                        <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/jefe/estudios/horario/editar/{id}(id=${horas.id})}"><img th:src="@{/img/edit.png}"></a></td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/jefe/estudios/hora/eliminar/{id}(id=${horas.id})}"><img th:src="@{/img/borrar.png}"></a></td>
                    </tr>
                    <tr sec:authorize="hasRole('ROLE_ADMIN')">
                        <td>Ingrese un nuevo horario</td>
                        <td><a th:href="@{/jefe/estudios/horarios/nuevo/{id}(id=${IdAsignaturaNuevo})}"><img th:src="@{/img/nuevo.png}"></a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</main>

</body>
</html>>