<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/FragmentoHead :: header_comun(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>Gestión títulos</title>
    <link rel="stylesheet" href="../css/css.css" th:href="@{/css/css.css}">
</head>
<body>
<nav th:replace="~{fragmentos/fragmentosNav::nav}"></nav>
    <main id="infoTitulo">
        <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Cursos</th>
                                <th>Editar</th>
                                <th>Borrar</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr th:each="titulo :${titulos}">
                               <td th:text="${titulo.nombre}"></td>
                                <td ><a th:href="@{/jefe/estudios/cursos/{id}(id=${titulo.id})}"><img th:src="@{/img/flecha-right.png}"></a></td>
                                <td><a th:href="@{/jefe/estudios/titulo/editar/{id}(id=${titulo.id})}"><img th:src="@{/img/edit.png}"></a></td>
                                <td><a th:href="@{/jefe/estudios/titulo/eliminar/{id}(id=${titulo.id})}"><img th:src="@{/img/borrar.png}"></a></td>
                            </tr>
                            <tr>
                                <td>Ingrese un nuevo título</td>
                                <td><a th:href="@{/jefe/estudios/titulo/nuevo}"><img th:src="@{/img/nuevo.png}"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </main>
<footer th:replace="~{fragmentos/fragmentoFooter::footer}"></footer>
</body>
</html>